html {
  font-size: 62.5%; // 1rem = 10px
}

// src/scss/styles.scss

@import 'variables';
@import 'mixins';
@import 'partials/dashboard';
@import 'partials/transactions';
@import 'partials/navbar';
@import 'partials/header';
@import 'partials/budgets';
@import 'partials/goals';
@import 'partials/settings';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
